{
  "location": {
    "value": "swedencentral"
  },
  "customData": {
    "value": "gnome"
  },
  "vmName": {
    "value": "linuxvm59905"
  },
  "vmSize": {
    "value": "Standard_D2s_v3"
  },
  "adminUsername": {
    "value": "azureuser"
  },
  "authenticationType": {
    "value": "sshPublicKey"
  },
  "adminPasswordOrKey": {
    "value": "ssh-ed25519 XXXXXX"
  },
  "virtualNetworkName": {
    "value": "linuxvm59905-vnet"
  },
  "addressPrefix": {
    "value": [
      "172.18.0.0/16"
    ]
  },
  "subnetName": {
    "value": "subnet-1"
  },
  "subnetAddressPrefix": {
    "value": "172.18.0.0/24"
  },
  "virtualNetworkNewOrExisting": {
    "value": "new"
  },
  "virtualNetworkRGName": {
    "value": "Xuan"
  },
  "publicIpName": {
    "value": "linuxvm59905-ip"
  },
  "publicIpRGName": {
    "value": "Xuan"
  },
  "publicIpDns": {
    "value": "linuxvm59905-02fd08"
  },
  "outTagsByResource": {
    "value": {}
  }
}